@font-face {
	font-family: Souvenir;
	font-weight: normal;
	font-style: normal;
	src: url(fonts/Souvenir-Medium.woff2) format("woff2");
}

@font-face {
	font-family: Souvenir;
	font-style: italic;
	font-weight: normal;
	src: url(fonts/Souvenir-MediumItalic.woff2) format("woff2");
}

@font-face {
	font-family: Souvenir;
	font-style: normal;
	font-weight: bold;
	src: url(fonts/Souvenir-Demi.woff2) format("woff2");
}

@font-face {
	font-family: Souvenir;
	font-style: italic;
	font-weight: bold;
	src: url(fonts/Souvenir-DemiItalic.woff2) format("woff2");
}

@font-face {
	font-family: "Space Mono";
	font-weight: normal;
	font-style: normal;
	src: url(fonts/SpaceMono-Regular.woff2) format("woff2");
}

:root {
	--link: #fc0;
	--conflict: #f00;
	--key: #ffcc00;
	--note: #c3dbff;
	--neutral-background: #202020;
	--neutral-border: #404040;
	--neutral-button: #404040;
	--neutral-button-dark: #202020;
	--neutral-button-border: #606060;
	--neutral-heading: #c0c0c0;
	--human-background: #002040;
	--human-border: #004060;
	--human-button: #004060;
	--human-button-dark: #002040;
	--human-button-border: #006080;
	--human-heading: #40a0ff;
	--orc-background: #402000;
	--orc-border: #804020;
	--orc-button: #604020;
	--orc-button-dark: #402000;
	--orc-button-border: #804020;
	--orc-heading: #c08040;
	--undead-background: #402040;
	--undead-border: #604060;
	--undead-button: #602060;
	--undead-button-dark: #400040;
	--undead-button-border: #804080;
	--undead-heading: #a060a0;
	--nightelf-background: #204020;
	--nightelf-border: #408040;
	--nightelf-button: #206020;
	--nightelf-button-dark: #204020;
	--nightelf-button-border: #408040;
	--nightelf-heading: #60c000;
	--bloodelf-background: #602000;
	--bloodelf-border: #804000;
	--bloodelf-button: #602000;
	--bloodelf-button-dark: #400000;
	--bloodelf-button-border: #a06000;
	--bloodelf-heading: #ff4020;
	--draenei-background: #404020;
	--draenei-border: #808040;
	--draenei-button: #404020;
	--draenei-button-dark: #202000;
	--draenei-button-border: #a0a060;
	--draenei-heading: #c0c080;
	--demon-background: #600020;
	--demon-border: #802040;
	--demon-button: #600020;
	--demon-button-dark: #802040;
	--demon-button-border: #a04060;
	--demon-heading: #a04060;
	--naga-background: #004040;
	--naga-border: #006060;
	--naga-button: #006060;
	--naga-button-dark: #004040;
	--naga-button-border: #008080;
	--naga-heading: #40c0c0;
}

a {
	background: none;
	color: var(--link);
	font-weight: bold;
	text-decoration: none;
}

a, button, div#editor img {
	cursor: pointer;
}

a#link, div.card[hidden], h1, section h2 {
	display: none;
}

a.conflict, span.conflict {
	background: none;
	color: var(--conflict);
}

a:hover, a:active {
	background: none;
	color: #fff;
	text-decoration: underline;
}

a.nocmds, input:disabled, span.passive {
	opacity: 0.5;
}

body {
	margin: 0;
	padding: 0;
}

button {
	background: var(--human-button) linear-gradient(var(--human-button), var(--human-button-dark));
	border: 3px solid var(--human-button-border);
	border-radius: 0.5em;
	color: var(--link);
	font-size: 2rem;
	font-weight: bold;
	margin: 0 0.25em 0.5em;
	padding: 0.25em;
	width: 8em;
}

button, input, select {
	font-family: inherit;
}

button span.key {
	background: none;
	color: #fff;
}

button:focus, input:focus, select:focus, textarea:focus {
	outline: 0;
}

button#help {
	border-radius: 100%;
	width: 2em;
}

button#human {
	background-image: url(seal-human.png);
}

button#neutral {
	background-image: url(seal-neutral.png);
}

button#nightelf {
	background-image: url(seal-nightelf.png);
}

button#orc {
	background-image: url(seal-orc.png);
}

button#undead {
	background-image: url(seal-undead.png);
}

cite {
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
}

code {
	background: #404040;
	border: 2px solid #606060;
	color: #fff;
}

code, kbd, textarea {
	font-family: "Space Mono", Consolas, monospace;
	font-variant-ligatures: none;
}

div#author {
	flex-grow: 1;
	font-size: 0.75rem;
	text-align: center;
}

div#buttons {
	text-align: right;
}

div#cards {
	clear: left;
	display: flex;
	justify-content: space-evenly;
}

div#editor {
	background: var(--neutral-background);
	border: 2px solid var(--neutral-border);
	border-radius: 1em;
	bottom: 9em;
	color: inherit;
	display: flex;
	flex-direction: column;
	padding: 1em;
	position: fixed;
	right: 5em;
	top: 5em;
	width: 33%;
}

div#editor.bloodelf {
	background: var(--bloodelf-background);
	border-color: var(--bloodelf-border);
	color: inherit;
}

div#editor.bloodelf button {
	background: var(--bloodelf-button) linear-gradient(var(--bloodelf-button), var(--bloodelf-button-dark));
	border-color: var(--bloodelf-button-border);
}

div#editor.bloodelf div.grid>div, div#editor.bloodelf p.tip:focus, div#editor.bloodelf p.tip:hover {
	outline-color: var(--bloodelf-border);
}

div#editor.demon {
	background: var(--demon-background);
	border-color: var(--demon-border);
	color: inherit;
}

div#editor.demon button {
	background: var(--demon-button) linear-gradient(var(--demon-button), var(--demon-button-dark));
	border-color: var(--demon-button-border);
}

div#editor.demon div.grid>div, div#editor.demon p.tip:focus, div#editor.demon p.tip:hover {
	outline-color: var(--demon-border);
}

div#editor.draenei {
	background: var(--draenei-background);
	border-color: var(--draenei-border);
	color: inherit;
}

div#editor.draenei button {
	background: var(--draenei-button) linear-gradient(var(--draenei-button), var(--draenei-button-dark));
	border-color: var(--draenei-button-border);
}

div#editor.draenei div.grid>div, div#editor.draenei p.tip:focus, div#editor.draenei p.tip:hover {
	outline-color: var(--draenei-border);
}

div#editor.human {
	background: var(--human-background);
	border-color: var(--human-border);
	color: inherit;
}

div#editor.human div.grid>div, div#editor.human p.tip:focus, div#editor.human p.tip:hover {
	outline-color: var(--human-border);
}

div#editor.neutral button {
	background: var(--neutral-button) linear-gradient(var(--neutral-button), var(--neutral-button-dark));
	border-color: var(--neutral-button-border);
}

div#editor.naga {
	background: var(--naga-background);
	border-color: var(--naga-border);
	color: inherit;
}

div#editor.naga button {
	background: var(--naga-button) linear-gradient(var(--naga-button), var(--naga-button-dark));
	border-color: var(--naga-button-border);
}

div#editor.naga div.grid>div, div#editor.naga p.tip:focus, div#editor.naga p.tip:hover {
	outline-color: var(--naga-border);
}

div#editor.nightelf {
	background: var(--nightelf-background);
	border-color: var(--nightelf-border);
	color: inherit;
}

div#editor.nightelf button {
	background: var(--nightelf-button) linear-gradient(var(--nightelf-button), var(--nightelf-button-dark));
	border-color: var(--nightelf-button-border);
}

div#editor.nightelf div.grid>div, div#editor.nightelf p.tip:focus, div#editor.nightelf p.tip:hover {
	outline-color: var(--nightelf-border);
}

div#editor.orc {
	background: var(--orc-background);
	border-color: var(--orc-border);
	color: inherit;
}

div#editor.orc button {
	background: var(--orc-button) linear-gradient(var(--orc-button), var(--orc-button-dark));
	border-color: var(--orc-button-border);
}

div#editor.orc div.grid>div, div#editor.orc p.tip:focus, div#editor.orc p.tip:hover {
	outline-color: var(--orc-border);
}

div#editor.undead {
	background: var(--undead-background);
	border-color: var(--undead-border);
	color: inherit;
}

div#editor.undead button {
	background: var(--undead-button) linear-gradient(var(--undead-button), var(--undead-button-dark));
	border-color: var(--undead-button-border);
}

div#editor.undead div.grid>div, div#editor.undead p.tip:focus, div#editor.undead p.tip:hover {
	outline-color: var(--undead-border);
}

div#editor, div.overlay, select {
	font-size: 1.25rem;
}

div#editor button {
	font-size: 0.75rem;
	padding: 0.25em 1em;
	width: auto;
}

div#editor button:hover, div.overlay button:hover, footer button:hover {
	border-color: #fff !important;
}

div#editor img:hover {
	outline: 2px solid #fff;
}

div#editor img:active {
	cursor: move;
}

div#fields {
	flex-grow: 1;
	overflow: auto;
}

div#fields, h3#command {
	padding: 1px 1px 0;
}

div.card {
	display: grid;
	grid-gap: 5px 5px;
	grid-template-columns: 64px 64px 64px 64px;
	grid-template-rows: 64px 64px 64px;
	line-height: 100%;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

div.card div {
	justify-self: center;
	position: relative;
}

div.card div, div.card img, h2 img {
	height: 64px;
	width: 64px;
}

div.card span {
	font-weight: bold;
	left: 5px;
	pointer-events: none;
	position: absolute;
	top: 4px;
}

div.card span, h2#unit, h3#command, p.hotkey input {
	text-shadow: 2px 2px #000;
}

div.conflict img {
	outline: 1px solid var(--conflict);
}

div.control, figcaption, p.note {
	font-size: 0.75rem;
}

div.drag img {
	box-shadow: 0 0 4px 4px #fff;
}

div.grid>div, p.tip:hover {
	outline: 1px dotted #606060;
}

div.grid>div, p.tip:focus {
	outline: 1px solid #606060;
}

div.overlay {
	background: rgba(0, 0, 0, 0.5);
	color: inherit;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	visibility: hidden;
	z-index: 1;
}

div.overlay p, figcaption, h4, label {
	font-style: italic;
}

div.overlay textarea {
	height: 50%;
	width: 80%;
}

div.overlay.open {
	opacity: 1;
	transition: 0.3s opacity;
	visibility: visible;
}

figure {
	background: #202020;
	border: 1px solid #404040;
	color: inherit;
	margin: 1em auto;
	padding: 0.5em 0.5em 0;
	width: fit-content;
	width: -moz-fit-content;
}

figure img {
	height: auto;
	max-width: 100%;
}

footer {
	align-items: center;
	background: transparent linear-gradient(transparent, #000);
	bottom: 0;
	color: inherit;
	display: flex;
	left: 0;
	position: fixed;
	width: 100%;
}

h2, h3, h4 {
	font-weight: bold;
}

h2#unit {
	font-size: 1.5rem;
	line-height: 64px;
	margin: 0 0 1em;
	overflow: hidden;
	padding: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

h2#unit img {
	float: left;
	margin-right: 0.5em;
}

h3#command {
	font-size: inherit;
	font-style: italic;
	font-weight: normal;
}

header {
	text-align: center;
}

header h2 {
	font-size: 2rem;
	margin: 2em 0;
}

html {
	background: #000;
	color: #fff;
	font: 12pt/200% Souvenir, Georgia, serif;
	padding: 0;
}

input#query {
	border-radius: 1.5em;
	margin-left: 1em;
	padding: 0.5em;
	width: 20em;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"], input[type="text"], select, textarea {
	background: #404040;
	border: 2px solid #606060;
	color: #fff;
	font-size: inherit;
	padding: 0.25em;
}

input[type="search"]:focus, input[type="text"]:focus {
	background: #808080;
	color: #fff;
	border-color: #fff;
}

input[type="search"]::placeholder {
	background: none;
	color: #808080;
	font-style: italic;
}

input[type="text"]::selection {
	background: none;
	color: inherit;
}

kbd {
	background: #808080;
	border: 2px outset #a0a0a0;
	color: inherit;
	margin: 0 0.25em;
	padding: 0.1em 0.5em;
}

main {
	margin-left: 275px;
	padding: 5em 0;
}

main>p {
	margin-top: 3em;
}

main.doc {
	margin: 0 5%;
	padding-top: 0;
}

main.doc h3 {
	border-bottom: 1px dotted #606060;
	font-size: 1.5rem;
	line-height: 100%;
}

main.doc h4 {
	font-size: 1.25rem;
}

main.doc section p {
	margin-left: 2em;
}

nav {
	left: 0;
	padding: 5em 0 0 5em;
	position: fixed;
	top: 0;
}

p.hotkey {
	text-indent: 2em;
}

p.hotkey input {
	border-radius: 0.25em;
	box-shadow: 2px 2px #606060;
	height: 1em;
	margin-right: 0.5em;
	text-align: center;
	text-transform: uppercase;
	width: 1em;
}

p.hotkey input:focus {
	box-shadow: 2px 2px #fff;
}

p.tip {
	cursor: text;
	margin: 0 0 1em;
}

section h3 {
	font-size: 1.5rem;
	margin: 0 0 1em;
	text-shadow: 2px 2px #404040;
}

section>ul~h3 {
	margin-top: 2em;
}

section ul ul {
	margin-left: 2em;
}

select {
	background-image: url(select.svg);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	border-radius: 0.5em;
	width: 12em;
	-moz-appearance: none;
	-webkit-appearance: none;
}

span.button {
	border-bottom: 1px dotted #fff;
}

span.key {
	background: none;
	color: var(--key);
}

span.sub {
	background: none;
	color: var(--note);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#filters button {
	background-color: transparent;
	background-position: 0 5px;
	background-repeat: no-repeat;
	background-size: 125px 125px;
	border: 2px solid #000;
	color: #fff;
	font-size: 1rem;
	font-variant: small-caps;
	height: 0;
	margin: 0.25em 0;
	padding: 0 0 120px;
	text-align: center;
	vertical-align: top;
	width: 125px;
}

ul#filters button:hover {
	text-decoration: none;
	text-shadow: 0 0 8px #fff;
}

ul#filters button.exclude {
	opacity: 0.25;
	transition: 0.2s opacity;
}

ul#filters button.highlight {
	border-color: #fff;
}

ul#other img, ul#results img {
	height: 1em;
	margin-right: 0.5em;
	vertical-align: text-bottom;
	width: 1em;
}

ul#other img:hover {
	cursor: default;
	outline: 0;
}

ul#results {
	background: rgba(0, 0, 0, 0.8);
	bottom: 4em;
	color: inherit;
	left: 2em;
	max-height: 50vh;
	overflow: auto;
	position: absolute;
	white-space: nowrap;
	width: 24em;
}

ul#results li.selected {
	background: transparent linear-gradient(to right, var(--human-border), rgba(0, 0, 0, 0));
	color: inherit;
}

ul.bloodelf {
	background: none;
	color: var(--bloodelf-heading);
}

ul.demon {
	background: none;
	color: var(--demon-heading);
}

ul.draenei {
	background: none;
	color: var(--draenei-heading);
}

ul.human {
	background: none;
	color: var(--human-heading);
}

ul.naga {
	background: none;
	color: var(--naga-heading);
}

ul.neutral, ul.units li li {
	background: none;
	color: var(--neutral-heading);
}

ul.nightelf {
	background: none;
	color: var(--nightelf-heading);
}

ul.orc {
	background: none;
	color: var(--orc-heading);
}

ul.undead {
	background: none;
	color: var(--undead-heading);
}

@media (max-width: 1600px), (max-height: 1080px), (orientation: portrait) {
	div#editor {
		bottom: 7em;
		right: 3em;
		top: 3em;
	}

	div.card {
		grid-gap: 4px 4px;
		grid-template-columns: 56px 56px 56px 56px;
		grid-template-rows: 56px 56px 56px;
	}

	div.card div, div.card img, h2 img {
		height: 56px;
		width: 56px;
	}

	h2#unit {
		line-height: 56px;
	}

	html {
		font-size: 11pt;
	}

	input#query {
		padding: 0.25em 0.5em;
	}

	main {
		margin-left: 200px;
		padding: 3em 0 4em;
	}

	nav {
		padding: 3em 0 0 3em;
	}

	ul#filters button {
		background-size: 100px 100px;
		padding-bottom: 95px;
		width: 100px;
	}

	ul#results {
		bottom: 3.75em;
	}
}

@media (max-width: 1366px), (max-height: 900px) {
	button {
		font-size: 1.25rem;
	}

	button#help {
		width: 2.25em;
	}

	div#editor {
		bottom: 4.5em;
		font-size: 1rem;
		right: 1em;
		top: 1em;
	}

	div.card {
		grid-gap: 3px 3px;
		grid-template-columns: 48px 48px 48px 48px;
		grid-template-rows: 48px 48px 48px;
	}

	div.card div, div.card img, h2 img {
		height: 48px;
		width: 48px;
	}

	div.card span {
		left: 3px;
		top: 2px;
	}

	div.overlay textarea {
		height: 60%;
	}

	h2#unit {
		line-height: 48px;
	}

	html {
		font-size: 10pt;
	}

	main {
		margin-left: 125px;
		padding: 1em 0 3em;
	}

	nav {
		padding: 1em 0 0 1em;
	}

	ul#filters button {
		background-size: 75px 75px;
		padding-bottom: 70px;
		width: 75px;
	}

	ul#results {
		bottom: 2.75em;
	}
}